<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriTrade - Home</title>
    <link rel="stylesheet" href="../../static/styles/index.css">
</head>
<body>
    <div class="calculator">
        <header>
            <div class="app_name">
                <div class="img-container">
                    <img src="../../src/images/veldra_no_bg.png" alt="app logo">
                </div>
                <h2 style="display: inline;">Agri<span>Trade</span></h2>
            </div>
            <div class="select">
                <select name="_market" id="market">
                    <option aria-label="Choose a market"selectd hidden disabled value="Choose a market">Choose a market</option>
                    <option aria-label="Mile 12" value="Mile 12">Mile 12 Market</option>
                </select>
                <img id="flag" src="../../src/images/veldra_no_bg.png" alt="Nigerian flag">
            </div>
            

            <div class="notification">
                <div class="img-container">
                    <img src="../../src/images/veldra_no_bg.png" alt="notification">
                </div>
                <div class="img-container">
                    <img src="../../src/images/veldra_no_bg.png" alt="company logo">
                </div>
            </div>
        </header>
    
        <section class="sidebar">
            <div class="bar">
                <div><p>Profile</p></div>
                <div><p>Calculator</p></div>
                <div><p>Market</p></div>
                <div><p>Trends</p></div>
                <div><p>Settings</p></div>
            </div>
        </section>
    
        <main class="container">
            <div class=""></div>
            <div></div>
            <div></div>
        </main>
    </div>

    <div class="profile"></div>
    <div class="market"></div>
    <div class="trends"></div>
    <div class="settings"></div>
</body>
</html>